<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="productRepository" class="de.swm.auction.dao.inmemory.ProductRepositoryBean"/> 
	
	<bean id="productRepositoryFile" class="de.swm.auction.dao.file.ProductRepositoryFileBean">
		<constructor-arg ref="productRepository" />
<!-- 		<constructor-arg> -->
<!-- 			<bean class="de.swm.auction.dao.inmemory.ProductRepositoryBean"/>  -->
<!-- 		</constructor-arg> -->
		<constructor-arg value="target/product.data"/>
	</bean>


</beans>
