<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<bean id="auctionService" class="de.swm.auction.services.impl.AuctionServiceBean">
		<property name="productService" ref="productService"/>
		<property name="auctionRepository" ref="auctionRepository"/>
	</bean>

	<bean id="productService" class="de.swm.auction.services.impl.ProductServiceBean">
		<property name="productRepository" ref="productRepository"/>
	</bean>

	<bean id="productRepository" class="de.swm.auction.dao.inmemory.ProductRepositoryBean"/>

	<bean id="auctionRepository" class="de.swm.auction.dao.inmemory.AuctionRepositoryBean"/>

</beans>
